*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates','Poppins', sans-serif;
    /*font-family: 'Alegreya Sans SC', sans-serif;*/
}
body{
    height: 100vh;
    background: linear-gradient(160deg, #fc7968, #f10e21);
}

.container{
    width: 40%;
    min-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.head{
    margin-bottom: 7vh;
    padding: 2px;
}

.head input{
    padding: 7px;
    text-align: center;
    width: 82%;
    font-size: 18px;
    font-weight: bold;
    background-color: #fff4f4;
    border: none;
    border-radius: 5px;
    font-family: 'Montserrat Alternates','Poppins';
    box-shadow: 2px 2px 5px #111;
}
.head button{
    background: linear-gradient(135deg,#24e07f, #a8ff52);
    border: none;
    padding: 8px;
    width: 15%;
    margin-left: 5px;
    border-radius: 5px;
    color: #e92e3d;
    font-size: 18px;
    box-shadow: 2px 2px 5px #111;
    
}
.head button:hover{
    box-shadow: 0px 0px 2px 2px #0b8a48;
    font-size: 20px;
}

.tasks{
    min-height: 300px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 3px 3px 5px #111;
}

.task{
    font-family: 'Montserrat Alternates', sans-serif;
    padding: 5px;
    margin-bottom: 10px;
    border: 2px solid #24e07f;
    border-left: 7px solid #24e07f;
    border-radius: 5px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

#delete{
    background-color: #e92e3d;
    color: #fff;
    border-radius: 5px;
    width: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Poppins' ,sans-serif;
}
#delete:hover{
    background-color: #f55462;
    transition: .3s;
}


footer{
    position: absolute;
    width: 100%;
    bottom: -5vh;
    padding: 2px;
    border-top: 2px solid #fff;
    font-family: 'Poppins';
    text-align: center;
    letter-spacing: 1.5px;
    color: #111;
    background-color: #ffe4e3;
}